
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
  }
  
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Shared styles for login and registration forms */
  .section-login,
  .section-registration {
    background-color: #120424;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .grid-two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .login-image{
  display: flex;
  justify-content: center;
  align-items: center;
    & img {
      width: 80%;
      height: auto;
    }
}

  .registration-image{
  display: flex;
  justify-content: center;
  align-items: center;
    & img {
      width: 100%;
      height: auto;
    }
}
  
  /* Form-specific styles */
  .login-form,
  .registration-form {
    padding: 20px;
  }
  
  .main-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-inputs {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .form-inputs textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .form-inputs input::placeholder,
.form-inputs textarea::placeholder {
  text-transform: lowercase;
}

  /* Add your responsive styles here */
  @media screen and (max-width: 768px) {
    .grid-two-cols {
      grid-template-columns: 1fr;
    }
  }