* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 80%;
    margin: auto;
}

body {
    background-color: black;
    color: white;
}

.service-container {
    text-align: center;

    & h1 {
        margin-bottom: 1%;
    }

    & .service-areas {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        column-gap: 8%;
        row-gap: 2%;
        justify-content: space-evenly;
    }
}

.admin-container {
    display: flex;
    gap: 5%;

    & .menu-container {
        border: solid 1px white !important;
        padding: 4% 0;
        text-align: center;
        width: 15vw;
        ;

        & ul {
            margin: auto;
            display: flex;
            flex-direction: column;
            padding-left: 0!important;

            & li {
                text-align: center;
                margin: auto;

                & a {
                    text-align: center;

                }
            }
        }

        & .content-div {
            border: solid 50px rgb(231, 0, 0) !important;
            padding: 5%;
            width: 100%;
        }
    }
}
    .toastBody {
        font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
        /* color: #10171D; */
        font-size: 0.875rem !important;
        text-transform: capitalize;
    }
