.profile-content-div{
  width: 40%;
  display: flex;
  justify-content: center;
}

.profile-details-container {
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #140113;
}

.detail {
  margin-bottom: 10px;
}

.detail strong {
  margin-right: 8px;
}

h2 {
  color: #ff9d00;
}
